/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	/* GENERAL 
	*************
	*/
	body, a{
		color: #333;
		letter-spacing: 0.1em;
	}
	a:hover{
		text-decoration: none;
		color: #666;
	}
	#contact, #a-propos, #loisirs{
		padding: 0;
	}
	.gris{
		color: #666;
	}
	.orange{
		color: #FF9C86;
	}
	.gris-fonce{
		color: #333;
	}
	.souligne{
		text-decoration: underline;
	}
	.italic{
		font-style: italic;
	}
	.maj{
		text-transform: uppercase;
	}
		/* FONT 
		********
		*/
		h1{
			font-family: 'Amatic SC', cursive;
		}
		h2, h3, h4, p, li, a{
			font-family: 'Comic Neue', cursive;
		}
		h1, h2, h3, h4{
			font-weight: bold;
		}

	/* BANDEAU INFOS
	******************
	*/
	#bandeau-infos{
		background: #FF9C86;
		position: fixed;
		height: 100vh;
		box-shadow: 0px 0px 31px grey;
		overflow: auto;
	}
		/* PHOTO CV
		************
		*/
		#photo-cv{
	    	 overflow:hidden;
	    	-webkit-border-radius:50px;
	    	-moz-border-radius:50px;
	    	border-radius:150px;
	    	width:220px;
	    	height:220px;
	    	margin: 20px auto;
	    	border: 3px solid #e29b8a;
		}
		#photo-cv img{
			width:220px;
		}
		/* TITRES
		*********
		*/
		.h3-band-infos{
			background:#666;
			text-transform: uppercase;
			text-align: center;
			color: #FF9C86;
			font-size: 1.8em;
			margin: 18px 0px;
			padding: 20px 0px;
		}
		/* CONTACT
		************
		*/
		#contact ul{
			list-style: none;
			padding: 0px;
			margin: 20px 40px;
			word-break: break-all;
		}
		#contact i{
			font-size: 1.5em;
			padding: 10px 10px;
			width: 60px;
		}
		/* A PROPOS DE MOI 
		********************
		*/
		#a-propos p{
			margin: 30px 40px;
		}
		/* LOISIRS 
		************
		*/
		#loisirs .conteneur{
			width: 80%;
			margin: 30px auto;
			text-align: center;
		}
		#loisirs .conteneur div{
			display: inline-block;
			height: 80px;
			width: 80px;
			background-position: center;
			background-size: 70%;
			border: 2px solid #666;
			border-radius: 50%;
		}
		#danse-icone{
			background: url("images/dress.svg") no-repeat;
		}
		#jeux-video-icone{
			background: url("images/joystick.svg") no-repeat;
		}
		#cinema-icone{
			background: url("images/cinema.svg") no-repeat;
		}

	/* BANDEAU ETAPES
	*******************
	*/
	#bandeau-etapes{
		position: absolute;
		right: 0;
	}
	#bandeau-etapes p{
		display: inline;
	}
		/* HEADER
		************
		*/
		#screen-header{
			margin: 80px 150px;
		}
		#tablet-mobile-header{
			display: none;
		}
		h1{
			font-size: 6em;
		}
		.separateur-header{
			width: 80px;
			height: 3px;
			background: #FF9C86;
		}
		/* TITRE
		************
		*/
		.icone-titre{
			font-size: 3em;
			margin: 50px 20px 0px 150px;
		}
		#bandeau-etapes h3{
			font-size: 2em;
			display: inline-block;
			text-transform: uppercase;
		}
		.separateur{
			width: 80%;
			height: 3px;
			margin: 10px 0px 50px 150px;
			background: #FF9C86;
		}
		/* TEXTE
		************
		*/
		.tab1{
			margin-left: 25px;
		}
		.tab2{
			margin-left: 40px;
		}
		.etape{
			margin: 0px 0px 40px 80px;
		}
		/* RECOMMANDATION
		************
		*/
		.fiche-recommandation{
			margin: 0px 0px 40px 150px;
		}
		.fiche-recommandation h4{
			font-size: 1.2em;
		}

	/* FOOTER
	************
	*/
	footer{
		background: #666;
		text-align: center;
	}
}