/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
	
	/* GENERAL 
	*************
	*/
	body, a{
		color: #333;
		letter-spacing: 0.1em;
	}
	a:hover{
		text-decoration: none;
		color: #666;
	}
	.gris{
		color: #666;
	}
	.orange{
		color: #FF9C86;
	}
	.gris-fonce{
		color: #333;
	}
	.souligne{
		text-decoration: underline;
	}
	.italic{
		font-style: italic;
	}
		/* FONT 
		********
		*/
		h1{
			font-family: 'Amatic SC', cursive;
		}
		h2, h3, h4, h5, p, li, a{
			font-family: 'Comic Neue', cursive;
		}
		h1, h2, h3, h4, h5{
			font-weight: bold;
		}

	/* HEADER
	************
	*/
	#screen-header{
		display: none;
	}
	h1{
		margin-top: 40px;
		font-size: 3.5em;
	}
	h2{
		font-size: 1.4em;
	}
	.separateur-header{
		width: 50px;
		height: 3px;
		background: #FF9C86;
	}
		/* PHOTO CV
		************
		*/
		#photo-cv{
			display: none;
		}
		#photo-tablet-mobile{
			position: absolute;
			z-index: 1;
			left: 10%;
	    	overflow:hidden;
	    	-webkit-border-radius:50px;
	    	-moz-border-radius:50px;
	    	border-radius:150px;
	    	width:170px;
	    	height:170px;
	    	margin: 20px auto;
	    	border: 3px solid #e29b8a;
		}
		#photo-tablet-mobile img{
			width:170px;
		}

	/* BANDEAU INFOS
	******************
	*/
	#bandeau-infos{
		background: #FF9C86;
		margin-top: 70px;
	}
		
		/* TITRES
		*********
		*/
		.background-gris{
			background:#666;
		}
		.h3-band-infos{
			text-transform: uppercase;
			text-align: center;
			color: #FF9C86;
			font-size: 1.5em;
			margin: 18px 0px;
		}
		/* CONTACT
		************
		*/
		#bandeau-infos ul{
			font-size: 0.9em;
			list-style: none;
			padding: 0px;
			margin: 20px 30px;
			word-break: break-all;
		}
		#bandeau-infos i{
			font-size: 1.5em;
			padding: 10px 10px;
			width: 60px;
		}
		/* A PROPOS DE MOI 
		********************
		*/
		#bandeau-infos p{
			padding: 30px 20px;
			font-size: 0.9em;
		}
		/* LOISIRS 
		************
		*/
		#loisirs{
			margin: 20px auto;
		}
		#loisirs div{
			display: inline-block;
			height: 70px;
			width: 70px;
			margin-left: 10px;
			margin-bottom: 10px;
			background-position: center;
			background-size: 70%;
			border: 2px solid #666;
			border-radius: 50%;
		}
		#danse-icone{
			background: url("images/dress.svg") no-repeat;
		}
		#jeux-video-icone{
			background: url("images/joystick.svg") no-repeat;
		}
		#cinema-icone{
			background: url("images/cinema.svg") no-repeat;
		}

	/* BANDEAU ETAPES
	*****************
	*/
	#bandeau-etapes h4{
		text-transform: uppercase;
		font-size: 1.2em;
	}
	#bandeau-etapes p{
		display: inline;
		font-size: 0.9em;
	}
		/* TITRE
		************
		*/
		.icone-titre{
			font-size: 2.5em;
			margin: 50px 20px 0px 20px;
		}
		#bandeau-etapes h3{
			font-size: 1.6em;
			display: inline-block;
			text-transform: uppercase;
		}
		.separateur{
			width: 90%;
			height: 3px;
			margin: 10px 0px 50px 20px;
			background: #FF9C86;
		}
		/* TEXTE
		************
		*/
		.tab1{
			margin-left: 25px;
		}
		.tab2{
			margin-left: 40px;
		}
		.etape{
			margin: 0px 0px 40px 10px;
		}
		/* RECOMMANDATION
		************
		*/
		.fiche-recommandation{
			margin: 0px 0px 40px 50px;
		}
}