/* Small devices (portrait phones, max 575px) */
@media(max-width: 575px) {
	
	/* GENERAL 
	*************
	*/
	body, a{
		color: #333;
		letter-spacing: 0.1em;
	}
	a:hover{
		text-decoration: none;
		color: #666;
	}
	#contact, #a-propos, #loisirs{
		padding: 0;
	}
	.gris{
		color: #666;
	}
	.orange{
		color: #FF9C86;
	}
	.gris-fonce{
		color: #333;
	}
	.souligne{
		text-decoration: underline;
	}
	.italic{
		font-style: italic;
	}
	.maj{
		text-transform: uppercase;
	}
		/* FONT 
		********
		*/
		h1{
			font-family: 'Amatic SC', cursive;
		}
		h2, h3, h4, p, li, a{
			font-family: 'Comic Neue', cursive;
		}
		h1, h2, h3, h4{
			font-weight: bold;
		}

	/* MENU SMALL DEVICE
	*************
	*/
	#menu{
		display: none;
	}

	/* HEADER SMALL DEVICE
	*************
	*/
	#screen-header{
		display: none;
	}
	h1{
		margin-top: 40px;
		font-size: 3.2em;
	}
	h2{
		font-size: 1em;
	}
	.separateur-header{
		width: 60px;
		height: 3px;
		background: #FF9C86;
	}
		/* PHOTO CV
		************
		*/
		#photo-cv{
			display: none;
		}
		#photo-tablet-mobile{
			position: absolute;
			z-index: 1;
			left: 5%;
			top: 5%;
	    	overflow:hidden;
	    	-webkit-border-radius:50px;
	    	-moz-border-radius:50px;
	    	border-radius:150px;
	    	width:150px;
	    	height:150px;
	    	margin: 20px auto;
	    	border: 3px solid #e29b8a;
		}
		#photo-tablet-mobile img{
			width: 150px;
		}

	/* BANDEAU INFOS
	******************
	*/
	#bandeau-infos{
		background: #FF9C86;
		margin-top: 40px;
	}
		/* TITRES
		*********
		*/
		.h3-band-infos{
			background:#666;
			text-transform: uppercase;
			text-align: center;
			color: #FF9C86;
			font-size: 1.3em;
			padding: 20px 0px;
		}
		/* CONTACT
		************
		*/
		#contact ul{
			font-size: 0.8em;
			list-style: none;
			padding: 0px;
			margin: 20px 30px;
			word-break: break-all;
		}
		#contact i{
			font-size: 1.2em;
			padding: 10px 10px;
			width: 60px;
		}
		/* A PROPOS DE MOI 
		********************
		*/
		#a-propos p{
			padding: 30px 20px;
			font-size: 0.8em;
		}
		/* LOISIRS 
		************
		*/
		#loisirs .conteneur{
			width: 80%;
			margin: 30px auto;
			text-align: center;
		}
		#loisirs .conteneur div{
			display: inline-block;
			height: 80px;
			width: 80px;
			margin-left: 5px;
			margin-bottom: 10px;
			background-position: center;
			background-size: 70%;
			border: 2px solid #666;
			border-radius: 50%;
		}
		#danse-icone{
			background: url("images/dress.svg") no-repeat;
		}
		#jeux-video-icone{
			background: url("images/joystick.svg") no-repeat;
		}
		#cinema-icone{
			background: url("images/cinema.svg") no-repeat;
		}

	/* BANDEAU ETAPES
	*****************
	*/
	#bandeau-etapes h4{
		font-size: 1em;
	}
	#bandeau-etapes p{
		display: inline;
		font-size: 0.8em;
	}
		/* TITRE
		************
		*/
		.icone-titre{
			font-size: 2em;
			margin: 50px 20px 0px 20px;
		}
		#bandeau-etapes h3{
			font-size: 1.4em;
			display: inline-block;
			text-transform: uppercase;
		}
		.separateur{
			width: 90%;
			height: 3px;
			margin: 10px 0px 50px 20px;
			background: #FF9C86;
		}
		/* TEXTE
		************
		*/
		.tab1{
			margin-left: 10px;
		}
		.tab2{
			margin-left: 25px;
		}
		.etape{
			margin: 0px 0px 40px 0px;
		}
		/* RECOMMANDATION
		************
		*/
		.fiche-recommandation{
			margin: 0px 0px 40px 50px;
		}
		.fiche-recommandation h4{
			font-size: 1.2em;
		}

	/* FOOTER
	************
	*/
	footer{
		background: #666;
		text-align: center;
		box-shadow: 0px 0px 31px grey;
	}
}