/* GENERAL 
*************
*/
a:hover{
	text-decoration: none;
}
.gris{
	color: #666;
}

/* BANDEAU GAUCHE
******************
*/
#bandeau-gauche{
	background: #FF9C86;
	position: fixed;
	height: 100%;
	box-shadow: 0px 0px 31px grey;
}
	/* TITRES
	*********
	*/
	.background-gris{
		background:#666;
	}
	.h3-band-gauche{
		text-transform: uppercase;
		text-align: center;
		color: #FF9C86;
		font-size: 1.8em;
		margin: 18px 0px;
	}
	/* CONTACT
	************
	*/
	#bandeau-gauche ul{
		list-style: none;
	}
	#bandeau-gauche i{
		font-size: 1.5em;
		padding: 10px 20px;
		width: 80px;
	}
	/* A PROPOS DE MOI 
	********************
	*/
	#bandeau-gauche p{
		padding: 30px 20px;
	}


/* BANDEAU DROIT
*****************
*/
#bandeau-droit{
	position: absolute;
	right: 0;
}