/* GENERAL 
*************
*/
a:hover{
	text-decoration: none;
}
.gris{
	color: #666;
}

/* BANDEAU GAUCHE
******************
*/
#bandeau-gauche{
	background: #FF9C86;
	position: fixed;
	height: 100vh;
	box-shadow: 0px 0px 31px grey;
	overflow: auto;
}
	/* PHOTO CV
	************
	*/
	#photo-cv{
    	 overflow:hidden;
    	-webkit-border-radius:50px;
    	-moz-border-radius:50px;
    	border-radius:150px;
    	width:200px;
    	height:200px;
    	margin: 20px auto;
    	border: 3px solid #e29b8a;
	}
	#photo-cv img{
		width:200px;
	}
	/* TITRES
	*********
	*/
	.background-gris{
		background:#666;
	}
	.h3-band-gauche{
		text-transform: uppercase;
		text-align: center;
		color: #FF9C86;
		font-size: 1.8em;
		margin: 18px 0px;
	}
	/* CONTACT
	************
	*/
	#bandeau-gauche ul{
		list-style: none;
		padding: 0;
		word-break: break-all;
	}
	#bandeau-gauche i{
		font-size: 1.5em;
		padding: 10px 10px;
		width: 60px;
	}
	/* A PROPOS DE MOI 
	********************
	*/
	#bandeau-gauche p{
		padding: 30px 20px;
	}
	/* LOISIRS 
	************
	*/
	#loisirs div{
		height: 80px;
		width: 80px;
		margin: 30px auto;
		background-position: center;
		background-size: 70%;
		border: 2px solid #666;
		border-radius: 50%;
	}
	#danse-icone{
		background: url("images/dress.svg") no-repeat;
	}
	#jeux-video-icone{
		background: url("images/joystick.svg") no-repeat;
	}
	#cinema-icone{
		background: url("images/cinema.svg") no-repeat;
	}

/* BANDEAU DROIT
*****************
*/
#bandeau-droit{
	position: absolute;
	right: 0;
}