/* GENERAL 
*************
*/
body, a{
	color: #333;
	letter-spacing: 0.1em;
}
a:hover{
	text-decoration: none;
	color: #666;
}
#bandeau-droit p{
	display: inline;
}
.gris{
	color: #666;
}
.orange{
	color: #FF9C86;
}
.gris-fonce{
	color: #333;
}
.souligne{
	text-decoration: underline;
}
.italic{
	font-style: italic;
}
	/* FONT 
	********
	*/
	h1{
		font-family: 'Amatic SC', cursive;
	}
	h2, h3, h4, h5, p, li, a{
		font-family: 'Comic Neue', cursive;
	}
	h1, h2, h3, h4, h5{
		font-weight: bold;
	}

/* BANDEAU GAUCHE
******************
*/
#bandeau-gauche{
	background: #FF9C86;
	position: fixed;
	height: 100vh;
	box-shadow: 0px 0px 31px grey;
	overflow: auto;
}
	/* PHOTO CV
	************
	*/
	#photo-cv{
    	 overflow:hidden;
    	-webkit-border-radius:50px;
    	-moz-border-radius:50px;
    	border-radius:150px;
    	width:200px;
    	height:200px;
    	margin: 20px auto;
    	border: 3px solid #e29b8a;
	}
	#photo-cv img{
		width:200px;
	}
	/* TITRES
	*********
	*/
	.background-gris{
		background:#666;
	}
	.h3-band-gauche{
		text-transform: uppercase;
		text-align: center;
		color: #FF9C86;
		font-size: 1.8em;
		margin: 18px 0px;
	}
	/* CONTACT
	************
	*/
	#bandeau-gauche ul{
		list-style: none;
		padding: 0px;
		margin: 20px 0px;
		word-break: break-all;
	}
	#bandeau-gauche i{
		font-size: 1.5em;
		padding: 10px 10px;
		width: 60px;
	}
	/* A PROPOS DE MOI 
	********************
	*/
	#bandeau-gauche p{
		padding: 30px 20px;
	}
	/* LOISIRS 
	************
	*/
	#loisirs div{
		height: 80px;
		width: 80px;
		margin: 30px auto;
		background-position: center;
		background-size: 70%;
		border: 2px solid #666;
		border-radius: 50%;
	}
	#danse-icone{
		background: url("images/dress.svg") no-repeat;
	}
	#jeux-video-icone{
		background: url("images/joystick.svg") no-repeat;
	}
	#cinema-icone{
		background: url("images/cinema.svg") no-repeat;
	}

/* BANDEAU DROIT
*****************
*/
#bandeau-droit{
	position: absolute;
	right: 0;
}
#bandeau-droit h3{
	font-size: 2em;
}
#bandeau-droit h4{
	text-transform: uppercase;
}
	/* HEADER
	************
	*/
	header{
		margin: 80px 150px;
	}
	h1{
		font-size: 6em;
	}
	#separateur-header{
		width: 80px;
		height: 3px;
		background: #FF9C86;
	}
	/* TITRE
	************
	*/
	.icone-titre{
		font-size: 3em;
		margin: 50px 20px 0px 150px;
	}
	#bandeau-droit h3{
		display: inline-block;
		text-transform: uppercase;
	}
	.separateur{
		width: 80%;
		height: 3px;
		margin: 10px 0px 50px 150px;
		background: #FF9C86;
	}
	/* TEXTE
	************
	*/
	.tab25px{
		margin-left: 25px;
	}
	.tab40px{
		margin-left: 40px;
	}
	.etape{
		margin: 0px 0px 40px 80px;
	}
	/* RECOMMANDATION
	************
	*/
	.fiche-recommandation{
		margin: 0px 0px 40px 150px;
	}
